<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body class="bg-gray-100  font-sans flex flex-col min-h-screen">
    <header class="bg-blue-900 p-4 shadow-md">
        <div class="max-w-7xl mx-auto text-center">
            <!-- <img src="/assets/images/logo.svg" alt="Athen Grill Logo" class="h-12"> -->
            <h1 class="text-2xl font-bold text-white font-center">ATHEN GRILL</h1>
        </div>
    </header>

    <main class="flex-grow py-10">
        {{ content }}
    </main>

    <footer class="bg-blue-900 text-white py-4">
        <div class="max-w-7xl mx-auto text-center">
            <p>&copy; <span id="current-year"></span> Athen Grill. All Rights Reserved.</p>
        </div>
    </footer>

    <script>
        document.getElementById('current-year').textContent = new Date().getFullYear();
    </script>
</body>

</html>